<%- include("template/cabecera", {tituloWeb: 'Página 404' }) %>

    <div style="color: red; padding-top: 20%; text-align: center;">
        <h1>
            <%- titulo %>
        </h1>

        <a class="btn btn-primary" href="http://localhost:8080/" role="button">Volver...</a>
    </div>

    <%- include("template/footer") %>